* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    max-width: 900px;
    margin: auto;
    padding: auto;
    background-color: black;
}
a {
    text-decoration: underline;
}

.principal {
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

 h1 {
    text-align: center;
    color: white;
    margin: 0 0 .5rem 0;
}
.div-toprak {
    background-image: url("../imagenes/Toprak-Razgatlioglu-2.jpg");
    background-size: contain;
    height: 18rem;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}
.div-toprak0 {
    background-image: url("../imagenes/toprak0.jpg");
    background-size: contain;
    height: 18rem;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.a-superbikes {
    display: flex;
    justify-content: center;
    background-color: rgb(82, 95, 225);
    font-size: xx-large;
    opacity: 70%;
    color: black;
}

.a-racingteam {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(248, 111, 3);
    font-size: xx-large;
    opacity: 70%;
    color: black;
}
.a-academia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 164, 27);
    font-size: xx-large;
    opacity: 70%;
    color: black;
}
.a-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 246, 244);
    font-size: xx-large;
    opacity: 70%;
    color: black;
    
    
}
@media (min-width: 570px) {
    
    
   
    .h2 {
        position: relative;
    }
    .imagen-toprak {
        position: absolutes;
        padding-top: 3rem;
        min-height: 320px;
    }
    .div-toprak {
        padding-top: .75rem;
       
    }
   
    .principal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "div-toprak0 div-toprak"
        "div-superbikes div-racingteam"
        "div-academia div-contacto";
    }
    
    .a-superbikes {

        justify-content: center;
        align-items: center;

    }
    
}
@media (min-width: 1000px) {
    
    .h2 {
        position: relative;
    }
   
    
    .principal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "div-toprak0 div-toprak0 div-superbikes div-racingteam"
        "div-toprak div-toprak div-preparaciones div-contacto"
    }
    .div-toprak0 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 0;
        grid-row-end: 2;
        

    }
    .div-toprak {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 0;
        grid-row-end: 3; 
    }

    .a-superbikes:hover {
            transition: background-color 0.5s;
            background-color: rgb(23, 23, 169);
        }
    .a-racingteam:hover {
            transition: background-color 0.5s;
            background-color: rgb(120, 68, 6);
    }
    .a-academia:hover {
        transition: background-color 0.5s;
        background-color: rgb(96, 96, 13);
    }
    .a-contacto:hover {
        transition: background-color 0.5s;
        background-color: rgb(88, 88, 89);
    }
}

 


